In [5]:
import pymysql
import sys
import os
import time
import pandas as pd
from decimal import *
import datetime
import random
import datetime
from datetime import date

!pip3 install pymysql

!pip3 install pandas

# Part 01:Extract

In [189]:
# keep logs errors

all_logs = []

## Database - Source (Local server 1)

### Connect To Database

In [365]:
# execute single
# for create the table

def execute_query_1(query):
    try:
        conn = pymysql.connect(host='?',port=3306,user='?',password='?',db='?',charset='utf8')
        cur = conn.cursor()
        start = time.time()
        cur.execute(query) # difference
        end = time.time()
        print('Time Taken in Seconds : '+str(round(end - start)))
        logs = 'Source Read Success! Time Taken in Seconds : '+str(round(end - start))
        all_logs.append(logs)
        query_result = cur.fetchall()
        cur.close()
        conn.commit() 
    except Exception as e:
        s = "Source Read Fail!! UNEXPECTED ERROR: " + str(sys.exc_info())+"\n"+str(e)+"\nError on line {}".format(sys.exc_info()[-1].tb_lineno)
        all_logs.append(s)
        print(s)
    finally:  
        conn.close()
    return query_result

In [366]:
query01 = '''
select * from Employee; 
'''

In [367]:
data = execute_query_1(query01)

Time Taken in Seconds : 0

In [368]:
print(data)

((1, 'Joe', Decimal('70000'), 3), (2, 'Henry', Decimal('80000'), 4), (3, 'Sam', Decimal('60000'), None), (4, 'Max', Decimal('90000'), None))

# Part 02 - Transform

### Data Transform - Data From Source Add Column

In [376]:
new_data = []

In [377]:
try:
    for i in range(0,len(data)):
        a = data[i]
        a = list(a)
        a.insert(4,'Judy')
        a = tuple(a)
        print(a)
        new_data.append(a)
except Exception as e:
    print('fail')

(1, 'Joe', Decimal('70000'), 3, 'Judy')
(2, 'Henry', Decimal('80000'), 4, 'Judy')
(3, 'Sam', Decimal('60000'), None, 'Judy')
(4, 'Max', Decimal('90000'), None, 'Judy')

In [237]:
print(new_data)

[(1, 'Joe', Decimal('70000'), 3, 'Judy'), (2, 'Henry', Decimal('80000'), 4, 'Judy'), (3, 'Sam', Decimal('60000'), None, 'Judy'), (4, 'Max', Decimal('90000'), None, 'Judy')]

# Part 03 - Load

## A.Database - target (AWS RDS cloud service)

#### Create Table

In [343]:
# execute single
# for create the table
def execute_query_2(query):
    try:
        conn = pymysql.connect(host='?',port=?,user='?',password='?',db='?',charset='utf8')
        cur = conn.cursor()
        start = time.time()
        cur.execute(query) # difference
        end = time.time()
        print('Time Taken in Seconds : '+str(round(end - start)))
        logs = 'Target Create Success! Time Taken in Seconds : '+str(round(end - start))
        all_logs.append(logs)        
        records = cur.fetchall()
        cur.close()
        conn.commit() 
    except Exception as e:
        s = "Target Create Fail!! UNEXPECTED ERROR: " + str(sys.exc_info())+"\n"+str(e)+"\nError on line {}".format(sys.exc_info()[-1].tb_lineno)
        print(s)
        all_logs.append(s)
    finally:  
        conn.close()
    #return records

In [346]:
query02 = '''
Drop Table if exists Employee; 
'''

In [347]:
execute_query_2(query02)

Time Taken in Seconds : 0

In [348]:
query03 = '''
CREATE TABLE Employee (
    Id INT PRIMARY KEY,
    Name_Id VARCHAR(255) NOT NULL,
    Salary NUMERIC,
    ManagerId INT,
    Validator VARCHAR(255) NOT NULL
);
'''

In [349]:
execute_query_2(query03)

Time Taken in Seconds : 0

#### Insert Table

In [350]:
# execute many
# for insert the data
def execute_query_2_many(query,data):
    try:
        conn = pymysql.connect(host='?',port=?,user='?',password='?',db='?',charset='utf8')
        cur = conn.cursor()
        start = time.time()
        cur.executemany(query,data)  # difference
        end = time.time()
        print('Time Taken in Seconds : '+str(round(end - start)))
        logs = 'Target Insert Success! Time Taken in Seconds : '+str(round(end - start))
        all_logs.append(logs)        
        records = cur.fetchall()
        cur.close()
        conn.commit() #一定要提交数据!!不然在数据库中是没有数据显示的
    except Exception as e:
        s = "Target Insert Fail!! UNEXPECTED ERROR: " + str(sys.exc_info())+"\n"+str(e)+"\nError on line {}".format(sys.exc_info()[-1].tb_lineno)
        print(s)
        all_logs.append(s)      
    finally:  
        conn.close()
    #return records

In [351]:
sql = '''
INSERT INTO  Employee(
    Id,
    Name_Id,
    Salary,
    ManagerId,
    Validator
    ) VALUES  (%s, %s, %s, %s, %s)
'''

In [352]:
execute_query_2_many(sql,new_data)

Time Taken in Seconds : 0

## B.Database - load logs (Local server 2)

In [372]:
new_log = []

### Data Transform - Logs data clean

In [370]:
print(all_logs)

['Success! Time Taken in Seconds : 0', 'Success! Time Taken in Seconds : 0', 'Fail!! UNEXPECTED ERROR: (<class \'pymysql.err.OperationalError\'>, OperationalError(2003, "Can\'t connect to MySQL server on \'12d7.0.0.1\' ([Errno 8] nodename nor servname provided, or not known)"), <traceback object at 0x10851c080>)\n(2003, "Can\'t connect to MySQL server on \'12d7.0.0.1\' ([Errno 8] nodename nor servname provided, or not known)")\nError on line 6', 'Success! Time Taken in Seconds : 0', 'Target Create Success! Time Taken in Seconds : 0', 'Target Create Success! Time Taken in Seconds : 0', 'Target Insert Success! Time Taken in Seconds : 0', 'Source Read Success! Time Taken in Seconds : 0', 'Source Read Success! Time Taken in Seconds : 0']

In [371]:
today = datetime.date.today()
print(today)     # 2021-10-19

2022-12-09

In [373]:
for j in range(0,len(all_logs)):
    a = all_logs[j]
    new_log.append({today,a})

In [374]:
print(new_log)

[{datetime.date(2022, 12, 9), 'Success! Time Taken in Seconds : 0'}, {datetime.date(2022, 12, 9), 'Success! Time Taken in Seconds : 0'}, {datetime.date(2022, 12, 9), 'Fail!! UNEXPECTED ERROR: (<class \'pymysql.err.OperationalError\'>, OperationalError(2003, "Can\'t connect to MySQL server on \'12d7.0.0.1\' ([Errno 8] nodename nor servname provided, or not known)"), <traceback object at 0x10851c080>)\n(2003, "Can\'t connect to MySQL server on \'12d7.0.0.1\' ([Errno 8] nodename nor servname provided, or not known)")\nError on line 6'}, {datetime.date(2022, 12, 9), 'Success! Time Taken in Seconds : 0'}, {'Target Create Success! Time Taken in Seconds : 0', datetime.date(2022, 12, 9)}, {'Target Create Success! Time Taken in Seconds : 0', datetime.date(2022, 12, 9)}, {datetime.date(2022, 12, 9), 'Target Insert Success! Time Taken in Seconds : 0'}, {'Source Read Success! Time Taken in Seconds : 0', datetime.date(2022, 12, 9)}, {'Source Read Success! Time Taken in Seconds : 0', datetime.date(2022, 12, 9)}]

### Create Table

In [378]:
# execute single
# for create the table

def execute_query_log(query):
    try:
        conn = pymysql.connect(host='?',port=?,user='?',password='?',db='?',charset='utf8')
        cur = conn.cursor()
        start = time.time()
        cur.execute(query) # difference
        end = time.time()
        print('Time Taken in Seconds : '+str(round(end - start)))
        logs = 'Success! Time Taken in Seconds : '+str(round(end - start))
        all_logs.append(logs)
        query_result = cur.fetchall()
        cur.close()
        conn.commit() #一定要提交数据!!不然在数据库中是没有数据显示的
    except Exception as e:
        s = "Fail!! UNEXPECTED ERROR: " + str(sys.exc_info())+"\n"+str(e)+"\nError on line {}".format(sys.exc_info()[-1].tb_lineno)
        all_logs.append(s)
        print(s)
    finally:  
        conn.close()
    #return query_result

In [379]:
query04 = '''
Drop Table if exists Logs; 
'''

In [380]:
execute_query_log(query04)

Time Taken in Seconds : 0

In [381]:
query05 = '''
CREATE TABLE log (
    date VARCHAR(255),
    status VARCHAR(255)
);
'''

In [382]:
execute_query_log(query05)

Time Taken in Seconds : 0

### Insert Table

In [383]:
# execute many
# for insert the data
def execute_query_3_many(query,data):
    try:
        conn = pymysql.connect(host='127.0.0.1',port=3306,user='root',password='!Zaleoc2ouiougi',db='test02',charset='utf8')
        cur = conn.cursor()
        start = time.time()
        cur.executemany(query,data)  # difference
        end = time.time()
        print('Time Taken in Seconds : '+str(round(end - start)))
        logs = 'Target Insert Success! Time Taken in Seconds : '+str(round(end - start))
        all_logs.append(logs)        
        records = cur.fetchall()
        cur.close()
        conn.commit() #一定要提交数据!!不然在数据库中是没有数据显示的
    except Exception as e:
        s = "Target Insert Fail!! UNEXPECTED ERROR: " + str(sys.exc_info())+"\n"+str(e)+"\nError on line {}".format(sys.exc_info()[-1].tb_lineno)
        print(s)
        all_logs.append(s)      
    finally:  
        conn.close()
    #return records

In [384]:
sql2 = '''
INSERT INTO  log(
    date,
    status
    ) VALUES  (%s, %s)
'''

In [ ]:
execute_query_3_many(sql2,new_log)